.f-xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content {
  &-between {
    justify-content: space-between;
  }

  &-end {
    justify-content: end;
  }

  &-start {
    justify-content: start;
  }
}

.align-items {
  &-center {
    align-items: center;
  }
}