.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transform: scale(1.2);
  transition: transform 0.2s 0s ease-in-out, opacity 0.2s 0s ease-in-out;
  color: var(--black);

  &__active {
    opacity: 1;
    transform: scale(1);
  }

  &_button-close {
    position: absolute;
    top: 1.4rem;
    right: 1.4rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--yellow-1);
    color: var(--black);
    transition: all ease-in-out 0.35s;
  }

  &_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
  }

  &_content {
    border-radius: var(--border-r);
    max-width: 50rem;
    width: 100%;
    position: relative;
    padding: 1.5rem;
    background: var(--white);
    box-shadow: 0 0 15px -10px rgba(221, 221, 221, 0.5);

    &-soon {
      max-width: 25rem;
    }

    &-auth {
      max-width: 40rem;
    }
  }

  &_header {
    &-title {
      font-size: clamp(1rem, 2vw, 1.5rem);
      line-height: 125%;
      margin-bottom: 1.2rem;
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-row {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      gap: 1.5rem;
    }
  }

  &_footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .field {
    &-input {
      background-color: var(--gray);
      font-size: 1rem;
    }
  }
}