.wrapper {
  max-width: 1170px;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    padding: 0 1.5rem;
  }
}

.section {
  &-title {
    color: var(--black);
    font-size: var(--section-title);
    line-height: var(--lh);
  }
}

// ------- images
.img-fluid {
  width: 100%;
}

// text

.text {
  font-size: var(--text-default);
  line-height: var(--lh);
}

// width
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

// -------elements
.logo {
  color: var(--white);
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 120%;

  &::after {
    content: '';
    background-color: var(--yellow-1);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.5rem;
  }
}

.back-gray__light {
  background-color: var(--back);
}

.btn {
  border: none;
  outline: none;
  padding: clamp(0.8rem, 3.25vw, 1rem) clamp(1.5rem, 3.5vw, 2.5rem);
  border-radius: var(--border-r);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  font-size: 1rem;
  font-family: 'Roboto-Bold';
  transition: var(--tran-03);
  cursor: pointer;
  white-space: nowrap;

  &__yellow {
    background-color: var(--yellow-1);

    &:hover {
      background-color: var(--yellow-2);
    }

    &:active {
      background-color: var(--yellow-3);
      transform: scale(0.96);
    }
  }

  &__black {
    background-color: var(--black);
    color: var(--yellow-1);

    &:hover {
      background-color: var(--black-hover);
    }

    &:active {
      background-color: var(--black-active);
      transform: scale(0.96);
    }
  }

  &-outline__yellow {
    background-color: transparent;
    border: 1px solid var(--yellow-1);
    color: var(--white);

    &:hover {
      background-color: var(--yellow-2);
      color: var(--black);
    }

    &:active {
      background-color: var(--yellow-2);
      transform: scale(0.96);
      color: var(--black);
    }
  }


  &-outline__black {
    background-color: transparent;
    border: 1px solid var(--black);
    color: var(--black);

    &:hover {
      background-color: var(--black-hover);
      color: var(--white);
    }

    &:active {
      background-color: var(--black-active);
      transform: scale(0.96);
      color: var(--white);
    }

  }
}

.accordeon {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_item {
    width: 100%;
    background-color: var(--gray-dark);
    border-radius: var(--border-r);

    & label {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: clamp(16px, 2vw, 20px);
      line-height: 1.5;
      font-weight: 600;
      background-color: var(--gray);
      border-radius: var(--border-r);
      padding: 1.5rem 1.8rem;

      &::before {
        content: "+";
        margin-right: 10px;
        font-size: 24px;
        font-weight: 600;
      }
    }

    & input[type="radio"] {
      display: none;
    }

    & input[type="radio"]:checked+label+.accordeon_content {
      max-height: 500px;
      padding: 1.5rem 1.8rem;
      opacity: 1;
    }

    & input[type="radio"]:checked+label::before {
      content: "-";
    }
  }

  &_content {
    line-height: 1.5;
    max-height: 0;
    transition: max-height .3s, padding .5s, opacity .35s;
    overflow: hidden;
    opacity: 0;
  }
}