.text {
  &-align {
    &-center {
      text-align: center;
    }

    &-left {
      text-align: left;
    }

    &-right {
      text-align: right;
    }

    &-justify {
      text-align: justify;
    }
  }

  // цвет текста
  &-light {
    color: var(--light-text);
  }

  &-yellow {
    color: var(--yellow-1);
  }

  &-black {
    color: var(--black);
  }
}

.font {
  &-bold {
    font-weight: 700;
    font-family: 'Roboto-Bold';
  }

  &-medium {
    font-weight: 500;
    font-family: 'Roboto-Medium';
  }

  &-regular {
    font-weight: 400;
    font-family: 'Roboto-Regular';
  }
}

// width
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}