:root {
  --yellow-1: #F7BE00;
  --yellow-2: #e7b40c;
  --yellow-3: #ffc400;
  --yellow-dark: #E6A000;
  --black: #000000;
  --black-hover: #221f1f;
  --black-active: #000000;
  --light-text: #F5F5F5;
  --white: #FFFFFF;
  --back: #F0EEEE;
  --gray: #E4E1E1;
  --gray-dark: #D6D4D4;



  // utils
  --section-title: clamp(1.75rem, 3.5vw, 2.8rem);
  --lh: 120%;
  --border-r: 1.25rem;
  --text-default: clamp(1rem, 3.5vw, 1.125rem);

  // transition
  --tran-03: all .3s ease-in-out;
  --tran-05: all .5s ease-in-out;
  --tran-015: all .15s ease-in-out;

}