.home {

  // PRESA
  &-presa {
    background-image: url('images/mainBack.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    padding: clamp(1.8rem, 3.5vw, 3rem) 0;
    position: relative;
    border: 1px solid var(--black);
    color: var(--light-text);


    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(59, 57, 57, 0.7);
    }

    &-inner {
      max-width: 42rem;
      position: relative;
      z-index: 1;
    }

    &-info {
      padding: clamp(1rem, 3.5vw, 2rem) 0;
      font-size: clamp(1rem, 2.5vw, 1.2rem);
      line-height: var(--lh);

      &>p {
        padding-bottom: clamp(0.8rem, 3.5vw, 1.2rem);
      }
    }

    @media(max-width: 464px) {
      background-position: -12rem center;

      &::before {
        background: rgba(59, 57, 57, 0.8);
      }
    }

  }

  // ADVANTAGES
  &-advantages {
    padding: var(--section-padding);

    .section-title {
      padding-bottom: clamp(2rem, 2vw, 5rem);
      text-align: center;
    }

    &-slider {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: clamp(1rem, 3vw, 4rem);
      max-width: 80%;
      margin: 0 auto;

      &-wrap {
        position: relative;
        z-index: 1;

        &::before {
          content: '';
          position: absolute;
          height: 60%;
          width: 100%;
          background-color: var(--black);
          border-radius: var(--border-r);
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          z-index: -1;
        }

        &>div {
          position: relative;
        }

        @media screen and (max-width: 1200px) {
          padding: 0 1rem;
        }

      }

      &_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--yellow-1);
        border-radius: var(--border-r);
        padding: 1.25rem 1.5rem;

        &-text {
          font-size: clamp(0.8rem, 2vw, 1.125rem);
          font-weight: 600;
          text-align: center;
          line-height: var(--lh);
        }
      }

      &-arrow {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background-color: var(--yellow-1);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: var(--tran-03);

        span {
          width: 0.9rem;
          height: 0.9rem;
        }

        &__left {
          left: 0;

          span {
            border-left: 3px solid var(--black);
            border-top: 3px solid var(--black);
            transform: rotate(-45deg);
          }
        }

        &__right {
          right: 0;

          span {
            border-right: 3px solid var(--black);
            border-top: 3px solid var(--black);
            transform: rotate(45deg);
          }
        }

        &:hover {
          background-color: var(--yellow-2);
        }

        &:active {
          background-color: var(--yellow-3);
          transform: translateY(-50%) scale(0.96);
        }
      }

    }

    @media(max-width: 1200px) {
      &-slider {
        grid-template-columns: repeat(2, 1fr);

        &_item {
          &-mobile {
            display: none;
          }
        }
      }
    }

    @media(max-width: 600px) {
      .section-title {
        text-align: left;
      }

      &-slider {
        &_item {
          padding: 1rem;

          &-image {
            width: 50%;
          }
        }

        &-arrow {
          height: 3rem;
          width: 3rem;
        }
      }
    }

    @media(max-width: 464px) {
      &-slider {
        &-arrow {
          height: 2.5rem;
          width: 2.5rem;

          span {
            width: 0.6rem;
            height: 0.6rem;
          }

          &__right {
            span {
              border-right: 2px solid var(--black);
              border-top: 2px solid var(--black);
            }
          }

          &__left {
            span {
              border-left: 2px solid var(--black);
              border-top: 2px solid var(--black);
            }
          }
        }
      }
    }
  }

  // ABOUT
  &-about {
    border-radius: var(--border-r);
    background-color: var(--gray);
    padding: clamp(1rem, 3.5vw, 2.5rem) clamp(1rem, 3.5vw, 3.125rem);

    &-inner {
      padding-top: clamp(1rem, 2vw, 2rem);
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-image {
      img {
        width: 75%;
      }
    }

    @media screen and (max-width: 1200px) {
      margin: 0 1.5rem;
    }

    @media screen and (max-width: 850px) {
      &-image {
        display: none;
      }
    }

  }

  // MARKETPLACE
  &-marketplace {
    padding: var(--section-padding);

    &-image {
      position: relative;
      z-index: 1;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 60%;
        width: 100%;
        background-color: var(--yellow-1);
        border-radius: var(--border-r);
        z-index: -1;
      }
    }

    @media (max-width: 1200px) {
      margin: 0 1.5rem;
    }

    @media(max-width: 850px) {
      .home-about-info {
        order: 2;
      }

      &-image {
        order: 1;
        margin: 0 auto;
        padding: 0 clamp(2rem, 3.5vw, 4rem);

      }
    }

    @media(max-width: 464px) {
      &-image {
        padding: 0;

        img {
          width: 60%;
        }
      }
    }
  }

  // EXCHANGE
  &-exchange {
    background-color: var(--black);
    position: relative;

    &-section-title {
      text-align: center;
      margin-bottom: clamp(2rem, 2vw, 5rem);
    }

    &::before {
      content: '';
      position: absolute;
      width: 50%;
      left: 50%;
      height: 100%;
      background-color: var(--yellow-1);
    }

    &-info {
      max-width: 450px;
      position: relative;
      z-index: 5;


      p {
        font-size: clamp(1rem, 2vw, 1.125rem);
        line-height: var(--lh);
        text-align: start;

        &:first-child {
          padding-bottom: 1.5rem;
        }
      }
    }

    &-content {
      position: relative;
      z-index: 2;
      display: flex;
      padding: clamp(3rem, 3.5vw, 5rem) 0;

      &_item {
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        &-r {
          .home-exchange-info {
            align-self: end;
            margin-left: 1.5rem;
          }
        }

        &-l {
          .home-exchange-info {
            align-self: start;
            margin-right: 1.5rem;
          }
        }
      }
    }

    &-title {
      padding: clamp(3rem, 5.5vw, 5rem) 0;
      position: relative;
      font-size: clamp(1.5rem, 3.5vw, 2rem);

      &__yellow {
        &::after {
          content: '';
          background-image: url('svg/arrowYellow.svg');
          top: 50%;
          position: absolute;
          right: -2.8rem;
          background-repeat: no-repeat;
          height: 100%;
          width: 48%;
          background-size: contain;
          transform: translateY(-50%);
        }
      }

      &__black {
        &::before {
          content: '';
          background-image: url('svg/arrowBlack.svg');
          top: 50%;
          position: absolute;
          left: -0.8rem;
          background-repeat: no-repeat;
          height: 100%;
          width: 48%;
          background-size: contain;
          transform: translateY(-50%);
        }
      }

    }

    @media(max-width: 992px) {
      &-title {
        &__yellow {
          &::after {
            right: -4.5rem;
            width: 50%;
          }
        }

        &__black {
          &::before {
            left: -2.5rem;
          }
        }
      }
    }

    @media(max-width: 767px) {
      &-content {
        &_item {
          gap: 1rem;
        }
      }

      &-title {
        padding: 2rem 0;

        &__yellow {
          &::after {
            right: -1.5rem;
            width: 35%;
            height: 80%;
          }
        }

        &__black {
          &::before {
            left: -1.5rem;
            width: 35%;
            height: 80%;
          }
        }
      }
    }

    @media(max-width: 600px) {
      &-section-title {
        text-align: left;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 45%;
        background-color: var(--yellow-1);
      }

      &-info {
        max-width: 100%;
      }

      &-content {
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 0;

        &_item {
          width: 100%;

          &-l {
            padding-bottom: 2rem;
          }

          &-r {
            flex-direction: column-reverse;
            position: relative;
            padding-top: 1rem;

            .home-exchange-info {
              margin-left: 0;
            }
          }
        }
      }

      &-title {
        padding: 0 0 1rem 0;

        &__yellow {


          &::after {
            display: none;
          }
        }

        &__black {

          &::before {
            display: none;
          }
        }
      }
    }
  }

  // TOKEN
  &-token {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 3rem;
    margin: clamp(3rem, 3vw, 5rem) 0;

    &-wrapBtn {
      display: flex;
      flex-direction: column;
    }

    &-coins {
      display: flex;
      justify-content: flex-end;
    }

    &-gim {
      background-color: var(--yellow-1);
      border-radius: var(--border-r);
      padding: clamp(1rem, 2.5vw, 3rem);

      &_title {
        color: var(--black);
        font-size: clamp(1.5rem, 3.5vw, 2.25rem);
        line-height: var(--lh);
        margin-bottom: clamp(0.5rem, 2vw, 1.5rem);
      }

      &_line {
        border-bottom: 1px solid var(--black);
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: clamp(1rem, 2vw, 1.25rem);
        padding: 1rem 0 0.5rem 0;
      }

      &_key {
        font-weight: 600;
      }

      &_value {
        font-weight: 500;
        white-space: nowrap;
      }

      &_btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 2rem 0 2rem;
        row-gap: 1.5rem;

        &>div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }
      }
    }

    @media(max-width: 1200px) {
      &-gim {
        &_btns {
          padding: 2rem 0 0 0;
        }
      }
    }

    @media(max-width: 992px) {
      grid-template-columns: 40% 55%;
    }

    @media(max-width: 767px) {
      gap: 1rem;
      grid-template-columns: 1fr;

      .section-title {
        margin-bottom: 1rem;
      }

      &-wrapBtn {
        flex-direction: row-reverse;
        align-items: end;
        justify-content: space-around;
      }

      &-gim {
        &_btns {
          display: grid;
          grid-template-columns: 60% 37%;
          place-items: end;
          gap: 1rem;

          &>div {
            gap: 1rem;
          }
        }
      }

    }

    @media(max-width: 550px) {
      gap: 3rem;

      &-coins {
        img {
          &:first-child {
            height: 3rem;
            width: unset;
          }

          &:last-child {
            height: 5rem;
            width: unset;
          }
        }
      }

      &-wrapBtn {
        justify-content: space-between;
      }

      &-gim {
        &_line {
          grid-template-columns: 40% 60%;
        }

        &_btns {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }

  // PROFITABLY
  &-profitably {
    padding: var(--section-padding);

    .section-title {
      text-align: center;
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 1.5rem;

      &_item {
        border-radius: var(--border-r);
        background: var(--gray);
        padding: clamp(1.5rem, 3vw, 2rem);
      }

      &_title {
        font-size: clamp(1.5rem, 2vw, 2rem);
        line-height: var(--lh);
      }

      &_desc {
        line-height: var(--lh);
        padding-top: clamp(1rem, 2vw, 1.5rem);
      }
    }

    @media(max-width: 500px) {
      .section-title {
        text-align: left;
      }

      &-content {
        &_item {
          &-header {
            display: flex;
            align-items: center;
            gap: 1.5rem;
          }
        }
      }
    }
  }

  // INFO
  &-info {
    border-radius: var(--border-r);
    background-color: var(--yellow-dark);
    max-width: 90%;
    margin: clamp(1rem, 2vw, 5rem) auto;
    padding: 1.5rem clamp(1rem, 2.5vw, 3rem);
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 3rem;

    &_desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 120%;

      p {
        padding-bottom: clamp(1rem, 2.5vw, 3rem);
      }
    }

    @media(max-width: 992px) {
      max-width: 100%;
      gap: 1.5rem;
      grid-template-columns: 70% 25%;
    }

    @media(max-width: 650px) {
      grid-template-columns: 1fr;

      &_image {
        order: 1;
      }

      &_desc {
        order: 2;
      }


    }
  }

  // GIM
  &-gim {
    padding: var(--section-padding);

    .section-title {
      text-align: center;
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
      gap: 1.25rem;

      &_item {
        background-color: var(--yellow-1);
        border-radius: var(--border-r);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        padding: clamp(1rem, 2vw, 2.8rem) clamp(1rem, 2vw, 1.8rem);
      }

      &_title {
        font-size: clamp(1.5rem, 2vw, 2rem);
        line-height: var(--lh);
        margin-bottom: clamp(1rem, 2vw, 2rem);
      }

      &_image {
        align-self: end;
      }
    }

    @media(max-width: 600px) {
      .section-title {
        text-align: left;
      }

      &-content {
        grid-template-columns: 1fr;

        &_image {
          display: flex;
          justify-content: end;
          align-items: end;

          img {
            width: 50%;
          }
        }
      }


    }
  }

  // FAQ
  &-faq {

    .section-title {
      text-align: center;
    }

    padding: var(--section-padding);
    padding-top: 0;

    @media(max-width: 600px) {
      .section-title {
        text-align: left;
      }
    }
  }
}