.home {

  // ADVANTAGES
  &-advantages {

    &-slider {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
      gap: 4rem;
      max-width: 80%;
      margin: 0 auto;

      &-wrap {
        position: relative;
        z-index: 1;

        &::before {
          content: '';
          position: absolute;
          height: 60%;
          width: 100%;
          background-color: var(--black);
          border-radius: var(--border-r);
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          z-index: -1;
        }

        &>div {
          position: relative;
        }

        @media screen and (max-width: 1200px) {
          padding: 0 1rem;
        }

      }

      &_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--yellow-1);
        border-radius: var(--border-r);
        padding: 1.25rem 5rem 1.5rem 5rem;
      }

      &-arrow {
        height: 65px;
        width: 65px;
        border-radius: 50%;
        background-color: var(--yellow-1);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-50%);

        &__left {
          left: 0;

          span {
            width: 15px;
            height: 15px;
            border-left: 3px solid var(--black);
            border-top: 3px solid var(--black);
            transform: rotate(-45deg);
          }
        }

        &__right {
          right: 0;

          span {
            width: 15px;
            height: 15px;
            border-right: 3px solid var(--black);
            border-top: 3px solid var(--black);
            transform: rotate(45deg);
          }
        }
      }

    }


  }

  // ABOUT
  &-about {
    border-radius: var(--border-r);
    background-color: var(--gray);
    padding: 2.5rem 3.125rem;

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  // MARKETPLACE
  &-marketplace {
    &-image {
      position: relative;
      z-index: 1;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 60%;
        width: 100%;
        background-color: var(--yellow-1);
        border-radius: var(--border-r);
        z-index: -1;
      }
    }
  }

  // EXCHANGE
  &-exchange {
    background-color: var(--black);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 50%;
      left: 50%;
      height: 100%;
      background-color: var(--yellow-1);
    }
  }

  // PROFITABLY
  &-profitably {
    &-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 1.5rem;

      &_item {
        border-radius: var(--border-r);
        background: var(--gray);
        padding: 2rem;
      }

      &_title {
        font-size: 2rem;
        line-height: var(--lh);
      }

      &_desc {
        font-size: 1.25rem;
        line-height: var(--lh);
      }
    }
  }

  // INFO
  &-info {
    border-radius: var(--border-r);
    background-color: var(--yellow-dark);
    max-width: 90%;
    margin: 0 auto;
    padding: 1.5rem 3rem;

    &_desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 120%;
    }
  }

  // GIM
  &-gim {}
}