.footer {
  background-color: var(--black);
  color: var(--light-text);
  padding: clamp(1.5rem, 3.5vw, 2.5rem) 0;
  font-size: 0.85rem;
  line-height: var(--lh);

  &-top {
    display: grid;
    grid-template-columns: 35% 60%;
    gap: clamp(1rem, 3.5vw, 3rem);
  }

  &-logo {
    max-width: 23rem;
  }

  &-info {
    margin: 1rem 0;
  }

  &-lists {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  &-list {
    &_item {
      color: var(--light-text);
      line-height: var(--lh);
      display: flex;
      align-items: center;
      padding: 0.3rem 0;

      img {
        margin-right: 0.5rem;
      }
    }
  }

  &-btns {
    display: flex;
    justify-items: end;



    .btn {

      &:first-child {
        margin-right: 3rem;
      }
    }
  }

  &-down {
    margin-top: clamp(1rem, 3.5vw, 2rem);
    border-top: 1px solid var(--white);
  }
}

// media
.footer {
  @media(max-width: 992px) {
    &-top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &-lists {
      display: none;
    }

    &-btns {
      flex-direction: column;
      gap: 1rem;
      align-items: end;

      .btn {
        &:first-child {
          margin: 0;
        }
      }
    }
  }

  @media(max-width: 767px) {
    &-logo {
      max-width: 100%;
    }

    &-top {
      grid-template-columns: 1fr;
    }
  }

  @media(max-width: 500px) {
    &-logo {
      margin-bottom: 1rem;
    }

    &-info {
      display: none;
    }

    &-btns {
      .btn:first-child {
        display: none;
      }
    }
  }
}